@charset "UTF-8";

@media screen and (max-width:1400px){
    .biografija{
        font-size: 20px;
    }
    .autor-tekst{
        width:35%;
    }
    .biografija{
        font-size: 19px;
    }
}

@media screen and (max-width:1199px){

    .biografija{
        font-size: 17px;
    }
}

@media screen and (max-width:1120px){

    footer .container{
        flex-wrap: wrap;
    }

    footer .container div{
        width: 45%;
    }

    footer ul li a,p{
        font-size: 17px;
    }
}

@media screen and (max-width:992px){
    .autorski-držač{
        flex-direction: column;
        justify-content: space-evenly;
        height:1200px;
    }
    .biografija{
        font-size: 22px;
    }

    .autor-tekst{
        padding:23px;
        width:70%;
    }

    .sadržajni{
        flex-direction: column;
        height:780px;
    }

    .sadržajni-opis{
        width:90% !important;
    }

    .sadržajna-slika{
        width:90% !important;
    }

}

@media screen and (max-width:775px){

    .biografija{
        font-size: 16px;
    }

    .container{
        max-width: 540px !important;
    }

    footer .container{
        flex-wrap:wrap;
    }

    #drzac-kontakt{
    flex-direction: column;
    gap: 3%;
    align-items: center;
    }

    form{
        width:80%;
    }

    aside{
        width:90%;
        margin-top:25px;
    }

}

@media screen and (max-width:610px){
    footer .container div{
        width: 85%;
        height:132px;
    }

    footer ul li a,footer p{
        font-size: 11px;
    }

    aside{
        height:400px;
    }

    .slikovni-s img{
        width:100%;
        margin-top: 5%;
    }

    .sadržajni{
        width:85% !important;
    }
}

@media screen and (max-width:545px){

    .autorski-držač{
        height: 975px;
    }

    .biografija{
        font-size: 18px;
    }

    .autor-slika{
        width:70%;
    }

    .autor-slika .img-fluid{
        width:100%;
    }
}

@media screen and (max-width:480px){
    .biografija{
        font-size: 16px;
    }

    .card-title img{
        height:80px
    }

    .list-group-item>p{
        font-size:15px;
    }

}

@media screen and (max-width:405px){

    .autorski-držač{
        height:775px;
    }
    .biografija{
        font-size: 15px;
    }
}
@media screen and (max-width:400px){
    .biografija{
        font-size: 14px;
    }
}
@media screen and (max-width:372px){
    .biografija{
        font-size: 13px;
    }

    aside{
        height:300px;
    }

    .card-title img {
        height: 60px;
    }

    .list-group-item>p{
        font-size:10px;
    }

    header nav div a img{
        height:46px;
    }

    .btn-group-vertical>.btn, .btn-group>.btn a{
        font-size:12px;
    }
    .offcanvas-body{
        font-size:12px;
    }

    .navbar-nav .dropdown-menu{
        font-size: 12px;
    }
}
@media screen and (max-width:348px){
    .biografija{
        font-size: 12px;
    }
}
@media screen and (max-width:328px){
    .biografija{
        font-size: 11px;
    }
    aside{
        height:250px;
    }
}
